{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
{% comment %} 프로필 {% endcomment %}
<header class="d-flex">
  <div class="">
    <img src="" alt="">
  </div>
  <div class="container">
    <p class="fw-bold">{{ us }} </p>
    <p>{{ us.email }}</p>
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:follow' us.pk %}" class="btn btn-outline-primary">
      {% if request.user not in us.follower.all %}
      팔로우
      {% else %}
      팔로우 취소
      {% endif %}
    </a><span>팔로워 | {{ us.follower.count }}</span><span>팔로잉 | {{ us.followings.count }}</span>
    {% else %}
    <a href="{% url 'accounts:follow' us.pk %}" class="btn btn-outline-info">로그인을 해주세요.</a>
    {% endif %}
  </div>
</header>
<hr>
  <div class="container p-3 d-flex flex-column align-items-center" style="background-color: #f9f9f9;">
    <p class="fw-bold text-primary mb-1">{{ user.article_set.all | length }}</p>
    <p class="fw-bold">작성한 글</p>
    {% for article in user.article_set.all %}
      <div class="card mb-3 shadow-sm col" style="border-style: none; width: 30rem;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>          
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none hver">
                <h5 class="fw-bold card-title">{{ article.title }}</h5>
              </a>
              <p class="card-text" style="text-overflow: ellipsis;">{{ article.content }}</p>
              <p class="card-text">
                <small class="text-muted">{{ article.user }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
