{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
{% comment %} 이미지 필드 - form에 enc(인코딩)type 속성 지정 {% endcomment %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form forms %}
    <input type="submit" class="btn btn-outline-primary">
  </form>

  <script>
{% comment %} // jQuery 존재하는지 판단하여 없으면 스크립트 CDN 삽입
if (typeof jQuery == 'undefined') {
  var script = document.createElement('script');
  script.type = "text/javascript";
  script.src = "https://code.jquery.com/jquery-3.5.1.min.js";
  document.getElementsByTagName('head')[0].appendChild(script);
} else {
  console.log("jQuery Ready");
} {% endcomment %}
  </script>
{% endblock %}
