{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container p-5 d-flex flex-column align-items-center" style="background: #f9f9f9;">
  <div class="card border-0 rounded-3 p-3" style="width: 50rem; min-height: 90vh;">
    <div class="card-body">
      <p class="h-5">{{ article.user }}</p>
      <h2 class="card-title fw-bold">{{ article.title }}</h2>
      <hr>
      <p class="card-text" style="height: 15rem;">{{ article.content }}</p>
      {% comment %} 이미지 추가 {% endcomment %}
      {% comment %} 이미지가 있을 때만 {% endcomment %}
      {% if article.image %}
      {% comment %} 추가 안 하면 이미지 없는 글에서 오류남 {% endcomment %}
      <img src="{{ article.image.url }}" alt="">
      {% endif %}
      <a href="{% url 'articles:like' article.pk %}" id="like-btn" data-article-id="{{ article.pk }}">
        좋아요
      </a>
      <span id="like-count">{{ article.like_users.count }}
      </span>
      <hr>
      <h5>댓글
        <span class="text-primary fw-bold">{{ article.comment_set.all | length }}</span>
      </h5>
      <!-- 댓글이 있다면 -->
      <br>
      <p>
        <!-- 새로 axios에 의해 생성되는 div를 담을 div -->
      <div id="comments"></div>
      {% for comment in article.comment_set.all %}
      <p>
      <p class="fw-bold">{{ comment.user }}
        <span class="fw-light">{{ comment.content }}</span>
      </p>
      {% if user == comment.user %}
      <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn btn-outline-danger">
      </form>
      {% endif %}
      <hr>
      </p>
      <!-- 댓글이 없다면 -->
      {% empty %}
      <p style="min-height: 75%;">첫 번째 댓글을 작성해주세요.</p>
      {% endfor %}
      </p>
    </div>
  </div>
</div>
<!-- 댓글 작성 폼 -->
<div class="fixed-bottom d-flex justify-content-center">
  <div style="width: 50rem;">
    <!-- axios로 요청 보낼 때 가져올 article.pk data-* -->
    <form id="comment-form" data-article-id="{{ article.pk }}" class="d-flex justify-content-center p-2"
      style="width: 50rem; background-color: #f9f9f9;">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="ms-2 d-flex align-items-center">
        <input type="submit" class="btn btn-dark h-100" value="등록">
      </div>
    </form>

  </div>
</div>

{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // form 요소 선택
  const form = document.querySelector('#comment-form');
  // hidden으로 숨겨져있는 csrf 선택(공식문서 acquiring the token)
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  // form 요소에 이벤트 핸들러 작성 및 submit 이벤트 취소하기
  form.addEventListener('submit', function (event) {
    // submit 이벤트가 발생하면 폼의 기본 속성(보내기)을 취소한다.
    event.preventDefault();
    // 요청 보낼 때 필요한 article.pk 가져오기
    // data 속성 정해줄 때 id를 소문자로 썼지만 자동으로 Id로 되어있음.
    const articleId = event.target.dataset.articleId;
    // axios 요청 준비
    axios({
      method: 'post',
      // url 에 작성할 article의 pk는 어떻게 작성해야 할까?
      // html -> js 로 보내기(data-article-id)
      // : 사용자 지정 데이터 특성을 만들어 임의의 데이터를 HTML과 DOM사이에서 교환할 수 있는 방법
      url: `/articles/${event.target.dataset.articleId}/comments/`,
      // csrf token은 어떻게 보내야 할까?
      // 먼저 hidden 타입으로 숨겨져있는 csrf 값을 가진 input 태그를 선택해야 한다
      // ajax로 csrf를 보내는 방법 https://docs.djangoproject.com/en/3.2/ref/csrf/#setting-the-token-on-the-ajax-request
      //  header에 담아 보낸다.
      headers: {
        'X-CSRFToken': csrftoken
      },
      // form 에 있는 정보를 data로 넘겨줄 수 있도록 변환
      data: new FormData(form)
    })
      // 요청을 하면
      .then(response => {
        // 데이터 응답 객체 확인(json형태)
        // response 안의 data 안에 context가 있음
        console.log(response.data)
        // 댓글을 추가하는 로직
        // 빈 div(id=comments)
        const comments = document.querySelector('#comments')
        // p 태그 형성
        const p = document.createElement('p')
        const span = document.createElement('span')
        // 템플릿에서 보낸 변수
        p.innerText = `${response.data.userName}`
        p.classList.add("fw-bold");
        span.innerText = `  ${response.data.content}`
        const hr = document.createElement('hr')
        p.appendChild(span)
        // 댓글이 쓰인 p 태그를 댓글을 담는 빈 div의 자식요소로 --> x
        // 어떻게 출력되는지 확인해보자
        span.classList.add("fw-light")
        comments.append(p, hr)
        // reset 명령어가 뭐였지?
        form.reset();
      });
  });
</script>
<script>
  const likeBtn = document.querySelector('#like-btn')
  // click 이벤트가 발생하면, evevnt 객체를 인자로 받는 함수 실행
  // (이 함수는 기본 이벤트를 제거하고, axios 요청하는 함수이다.)
  likeBtn.addEventListener('click', function (event) {
    // console.log(event)
    // 기본 이벤트를 제거
    event.preventDefault();
    // 기본 이벤트 제거하고, axios 요청
    axios(
      {
        method: 'get',
        url: `/articles/${event.target.dataset.articleId}/likes/`
      })
      .then(response => {
        // 좋아요 상태에 따라, 변경값을 줄
        // 좋아요 버튼 선언
        // 은 이미 위에서 함 (likeBtn)이자
        // event.target
        if (response.data.is_liked === true) {
          // 좋아요된 상태이면 빨간 글자/ 아니면 제거
          event.target.classList.add('text-danger')
        } else {
          event.target.classList.remove('text-danger')
        }

        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.likeCount
      })

  })
</script>
{% endblock script %}