{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container p-5 d-flex flex-column align-items-center" style="background: #f9f9f9;">
  <div class="card border-0 rounded-3 p-3" style="width: 50rem; min-height: 90vh;">
    <div class="card-body">
      <p class="h-5">{{ article.user }}</p>
      <h2 class="card-title fw-bold">{{ article.title }}</h2>
      <hr>
    <p class="card-text" style="height: 15rem;">{{ article.content }}</p>
    <hr>
    <h5>댓글 <span class="text-primary fw-bold">{{ article.comment_set.all |length }}</span></h5>
      <!-- 댓글이 있다면 -->
        <br>
    <p>
      {% for comment in article.comment_set.all %}
      <p>
        <p class="fw-bold">{{ comment.user }}</p>
        <span>{{comment.content }}</span>
        {% if user == comment.user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-outline-danger">
        </form>
        {% endif %}
        <hr>
      </p>
      <!-- 댓글이 없다면 -->
      {% empty%}
        <p style="min-height: 75%;">첫 번째 댓글을 작성해주세요.</p>
      {% endfor %}
    </p>
  </div>
</div>
</div>
<!-- 댓글 작성 폼 -->
<div class="fixed-bottom d-flex justify-content-center">
  <div style="width: 50rem;">
    <form class="d-flex justify-content-center p-2" style="width: 50rem; background-color: #f9f9f9;" action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% if not user.is_authenticated %}
      <input type="text" placeholder="로그인 후 이용해주세요." class="form-control" disabled>
      {% else %}
      {% csrf_token %}
      <input type="text" name="content" class="w-100 form-control" placeholder="댓글을 입력해주세요." style="height: 3rem;">
      <div class="ms-2 d-flex align-items-center">
        <input type="submit" class="btn btn-dark h-100" value="등록">
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
