{% extends 'base.html' %}
{% block content %}
  {% for article in articles %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a href="{% url 'articles:detail' article.pk %}">
          <h5 class="card-title">{{ article.title }}</h5>
        </a>
        <p class="card-text" style="text-overflow: ellipsis;">{{ article.content }}</p>
        <a href="{% url 'articles:create' %}" class="card-link">새 글 쓰러가기</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}