{% include "django/forms/widgets/clearable_file_input.html" %}

{{ form.media }}

<script>
  $(function () {
    // file input이 변할 때마다 함수를 실행
    $('#{{ widget.attrs.id }}').change(function () {
      // this.files input에 들어간 file들의 list를 불러온다
      // 사진이 한 장씩만 추가되고 있기 때문에 index를 통해 접근
      if (this.files[0]) {
        // file을 읽을 수 있는 filereader 객체를 만들어주고, 이를 읽어준다.
        const reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        // onload는 파일을 다 읽을 때까지 기다렸다가 함수를 실행하라는 의미
        reader.onload = function (e) {
          // e.target.result를 통해 파일을 64진수로 표현할 수 있다
          $('#preview_{{ widget.attrs.id }}').attr('src', e.target.result);
        };
      }
    })
  })
</script>

<script>
  $(function () {
    $('#{{ widget.attrs.id }}').change(function () {

      if (this.files[0]) {
        var reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        reader.onload = function (e) {
          $('#preview_{{widget.attrs.id}}').attr('src', e.target.result);
        };

      }
    })
  })
</script>